<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Firebase Cloud Messaging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for Firebase Cloud Messaging (FCM).
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed">Token</ion-label>
        <ion-input type="text" readonly [value]="token"></ion-input>
      </ion-item>
      <ion-button (click)="requestPermissions()"
        >Request Permissions</ion-button
      >
      <ion-button (click)="getToken()">Get Token</ion-button>
      <ion-button (click)="deleteToken()">Delete Token</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Delivered Notifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let notification of deliveredNotifications">
          <ion-item>
            <ion-label position="fixed">{{ notification.title }}</ion-label>
            <ion-input
              type="text"
              readonly
              [value]="notification.body"
            ></ion-input>
          </ion-item>
          <ion-item-options
            side="end"
            (ionSwipe)="removeDeliveredNotifications(notification)"
          >
            <ion-item-option color="danger">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button (click)="getDeliveredNotifications()"
        >Get delivered notifications</ion-button
      >
      <ion-button (click)="removeAllDeliveredNotifications()"
        >Remove all delivered notifications</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
